{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for realm in realms %}
            <li>
                <a href="{{ path('tgc_dashboard_realm_details', {code: realm.code}) }}">{{ realm|trans }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}